@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Open+Sans&family=Oswald&display=swap');

* {    
  box-sizing: border-box;         
  }   

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;    
  }
  
body {
  font-family:'Open Sans', sans-serif;
  font-size: 1.6rem;
  background-color: #6c6c74;      
  margin: 0;
  padding: 0;        
  }

/* Marble color */
#marble-color{
  background-color: #fff; 
  border-radius: 50%; 
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  width: 2.5rem;
  height: 2.5rem; 
}

/* footer section */

#footer {
  background: #343536;
  height: 10rem;
  width: 100%;  
  color: #ffffff;
  padding: 2rem;
  text-align:center;
  margin: 0;     
 }

 #footer a {
  text-decoration: none;
  color:#ffffff;
 }

 #footer a:hover {
  text-transform: uppercase;
 }

 #copyright {  
  padding: 1.5rem; 
 }